@use "../abstract/" as *;
@use "../base/" as *;

// BLOG
.blog {
  @include mediaQuery(520px) {
    .container {
      padding: 0rem;
    }
  }
  &__wrapper {
    h2 {
      // border-color: rgba(0,0,0, 0.5);
      border-color: rgba(255, 255, 255, 0.1);
    }
  }
  &__features {
    h1 {
      font-size: 3rem;
      text-align: center;
      font-weight: 200;
      font-family: $font--primary;
    }
    h3 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      text-align: left;
      font-weight: 200;
    }
    &__content {
      display: flex;
    }
    &--details {
      img {
        width: 25rem;
        padding: 0rem;
        height: 12.5rem;
        object-fit: cover;
      }

      h1 {
        font-size: 5rem;
        font-family: $font--primary;
        margin-bottom: -2rem;
      }
      h4 {
        font-family: $font--primary;
        font-size: 3rem;
        text-align: center;
      }
      p {
        text-align: left;
        padding-bottom: 0rem;
        font-family: $font--secondary;
        max-width: 500px;
      }
    }

    &--cards {
      margin-top: 2rem;
      @include unevenGrid(9rem 1fr, 1rem);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 2rem;

      &__parg--details {
        a {
          text-align: left;
        }
      }
    }
  }
  &__content {
    display: flex;
    gap: 2rem;
    @include mediaQuery(520px) {
      flex-direction: column;
    }
  }
}
.footer {
  &__wrapper {
    @include evenGrid(3, 3rem);
  }
  &__social {
    justify-content: center;
    text-align: center;
    p {
      font-size: 1rem;
      margin-bottom: 3rem;
      color: rgba(163, 159, 159, 0.7);
    }
    i {
      margin-left: 1rem;
      padding: 1rem;
      color: $clr--light;
      border: 2px solid $clr--light;
      border-radius: 50%;

      &:hover {
        border: 2px solid $clr--secondary;
        background-color: $clr--secondary;
      }
    }
    a {
      color: rgba(163, 159, 159, 0.7);

      &:hover {
        color: $clr--secondary;
      }
    }
  }
  &__contact {
    gap: 3rem;

    p {
      color: rgba(163, 159, 159, 0.7);
    }
  }
  &__map {
    iframe {
      height: 15rem;
    }
  }
}
